:root {
  
/*  Color Palette Hues  */
  --primary-hue: 323;
  --secondary-hue: calc( var(--primary-hue) + 60 );
  --primary-comp-hue: calc( var(--primary-hue) + 210 );
  --secondary-comp-hue: calc( var(--primary-hue) + 270 );
 
/*  Color Palette HSL (Hue Saturation Lightness)  */
  --color-primary: hsl(var(--primary-hue), 60%, 70%);
  --color-secondary: hsl(var(--secondary-hue), 60%, 70%);
  --color-primary-comp: hsl(var(--primary-comp-hue), 60%, 70%);
  --color-secondary-comp: hsl(var(--secondary-comp-hue), 60%, 70%);

  --color-primary-light: hsl(var(--primary-hue), 60%, 97%);
  --color-secondary-light: hsl(var(--secondary-hue), 60%, 97%);
  --color-primary-comp-light: hsl(var(--primary-comp-hue), 60%, 97%);
  --color-secondary-comp-light: hsl(var(--secondary-comp-hue), 60%, 97%);
  
  --color-primary-dark: hsl(var(--primary-hue), 60%, 25%);
  --color-secondary-dark: hsl(var(--secondary-hue), 60%, 25%);
  --color-primary-comp-dark: hsl(var(--primary-comp-hue), 60%, 25%);
  --color-secondary-comp-dark: hsl(var(--secondary-comp-hue), 60%, 25%); 
  
  --color-primary-sat: hsl(var(--primary-hue), 60%, 55%);
  --color-secondary-sat: hsl(var(--secondary-hue), 60%, 55%);
  --color-primary-comp-sat: hsl(var(--primary-comp-hue), 60%, 55%);
  --color-secondary-comp-sat: hsl(var(--secondary-comp-hue), 60%, 55%);   
  
/*  Color Palette Gradients   */
  --gradient-primary: 0.25turn, var(--color-secondary-sat), var(--color-primary-sat), var(--color-secondary-comp-sat);
  --gradient-secondary: 0.25turn, var(--color-secondary-sat), var(--color-primary-sat);  
  --gradient-third: 0.25turn, var(--color-secondary-comp-sat), var(--color-primary-comp-sat); 
  --gradient-fourth: 0.25turn, var(--color-secondary-comp-sat), var(--color-primary-sat); 

/*  Default Layout Color Palette  */
   --palette-ground: none; /*  60% of layout color */
   --palette-complementary: var(--color-primary-dark); /*  30% of layout color */
   --palette-accent: var(--color-primary-sat); /*  10% of layout color */
   --palette-glaze: rgba(0,0,0,0); /*  blends media color  */

/*  Default Denotive Color Palette  */
   --palette-error: var(--color-primary-sat);
   --palette-warning: var(--color-secondary-sat);
   --palette-success: var(--color-primary-comp-sat);
   --palette-disabled: var(--color-primary);
   --palette-info: var(--color-primary-dark);
   --palette-action: var(--color-secondary-comp-sat);
   --palette-option: var(--color-secondary); 
  
/*  Default Interactive Color Palette  */
   --interact-hue: var(--primary-comp-hue);
   --interact-sat: 60%;
   --interact-lightness: 70%;
}

.ground {
  --palette-ground: var(--color-secondary-comp-dark);
  --palette-complementary: var(--color-primary-light);
  --palette-glaze: var(--gradient-third);
}
.ground main, .ground aside, .ground footer {
  --palette-ground: none;
  --palette-glaze: rgba(0,0,0,0);
}
