:root {
  
/*  Color Palette Hues  */
  --primary-hue: 323;
  --secondary-hue: calc( var(--primary-hue) + 60 );
  --primary-comp-hue: calc( var(--primary-hue) + 210 );
  --secondary-comp-hue: calc( var(--primary-hue) + 270 );
 
/*  Color Palette Hue Saturation Light  */
  --color-primary: hsl(var(--primary-hue), 60%, 70%);
  --color-secondary: hsl(var(--secondary-hue), 60%, 70%);
  --color-primary-comp: hsl(var(--primary-comp-hue), 60%, 70%);
  --color-secondary-comp: hsl(var(--secondary-comp-hue), 60%, 70%);

  --color-primary-light: hsl(var(--primary-hue), 60%, 97%);
  --color-secondary-light: hsl(var(--secondary-hue), 60%, 97%);
  --color-primary-comp-light: hsl(var(--primary-comp-hue), 60%, 97%);
  --color-secondary-comp-light: hsl(var(--secondary-comp-hue), 60%, 97%);
  
  --color-primary-dark: hsl(var(--primary-hue), 60%, 25%);
  --color-secondary-dark: hsl(var(--secondary-hue), 60%, 25%);
  --color-primary-comp-dark: hsl(var(--primary-comp-hue), 60%, 25%);
  --color-secondary-comp-dark: hsl(var(--secondary-comp-hue), 60%, 25%); 
  
  --color-primary-sat: hsl(var(--primary-hue), 60%, 55%);
  --color-secondary-sat: hsl(var(--secondary-hue), 60%, 55%);
  --color-primary-comp-sat: hsl(var(--primary-comp-hue), 60%, 55%);
  --color-secondary-comp-sat: hsl(var(--secondary-comp-hue), 60%, 55%);   
  
/*  Color Palette Gradients   */
  --gradient-primary: linear-gradient(0.25turn, var(--color-secondary-sat), var(--color-primary-sat), var(--color-secondary-comp-sat));
  --gradient-secondary: linear-gradient(0.25turn, var(--color-secondary-sat), var(--color-primary-sat));  
  --gradient-third: linear-gradient(0.25turn, var(--color-secondary-comp-sat), var(--color-primary-comp-sat)); 
  --gradient-fourth: linear-gradient(0.25turn, var(--color-secondary-comp-sat), var(--color-primary-sat)); 

/*  Default Color Palette  */
   --ground: var(--color-primary-light); /*  60% of layout color */
   --complementary: var(--color-primary-dark); /*  30% of layout color */
   --accent: var(--color-primary-sat); /*  10% of layout color */
   --glaze: var(--gradient-primary); /*  blends media color  */
}

/* Color Palettes */
.primary-palette{
  --ground: var(--color-primary);
  --complementary: var(--color-primary-dark);
}
.secondary-palette{
  --ground: var(--color-secondary);
  --complementary: var(--color-primary-dark);
}
.primary-comp-palette{
  --ground: var(--color-primary-comp);
  --complementary: var(--color-primary-dark);
}
.secondary-comp-palette{
  --ground: var(--color-secondary-comp);
  --complementary: var(--color-primary-dark);
}

.primary-palette.tint-light {
  --ground: var(--color-primary-light);
  --complementary: var(--color-primary-dark);
}
.secondary-palette.tint-light {
   --ground: var(--color-secondary-light);
   --complementary: var(--color-primary-dark);
}
.primary-comp-palette.tint-light{
  --ground: var(--color-primary-comp-light);
  --complementary: var(--color-primary-dark);
}
.secondary-comp-palette.tint-light{
  --ground: var(--color-secondary-comp-light);
  --complementary: var(--color-primary-dark);
}

.primary-palette.tint-sat {
  --ground: var(--color-primary-sat);
  --complementary: var(--color-primary-dark);
}
.secondary-palette.tint-sat{
  --ground: var(--color-secondary-sat);
  --complementary: var(--color-primary-dark);
}
.primary-comp-palette.tint-sat{
  --ground: var(--color-primary-comp-sat);
  --complementary: var(--color-primary-dark);
}
.secondary-comp-palette.tint-sat{
  --ground: var(--color-secondary-comp-sat);
  --complementary: var(--color-primary-light);
}

.primary-palette.tint-dark {
  --ground: var(--color-primary-dark);
  --complementary: var(--color-primary-light);
}
.secondary-palette.tint-dark{
  --ground: var(--color-secondary-dark);
  --complementary: var(--color-primary-light);
}
.primary-comp-palette.tint-dark{
  --ground: var(--color-primary-comp-dark);
  --complementary: var(--color-primary-light);
}
.secondary-comp-palette.tint-dark{
  --ground: var(--color-secondary-comp-dark);
  --complementary: var(--color-primary-light);
}

/* Dark Color Palettes */
@media (prefers-color-scheme: dark) {
   /*  Default Color Palette  */
     --ground: var(--color-primary-dark); /*  60% of layout color */
     --complementary: var(--color-primary-light); /*  30% of layout color */
     --accent: var(--color-primary-sat); /*  10% of layout color */
     --glaze: var(--gradient-primary); /*  blends media color  */
  
  /* Color Palettes */
    .primary-palette{
      --ground: var(--color-primary-dark);
      --complementary: var(--color-primary);
    }
    .secondary-palette{
      --ground: var(--color-secondary-dark);
      --complementary: var(--color-primary);
    }
    .primary-comp-palette{
      --ground: var(--color-primary-comp-dark);
      --complementary: var(--color-primary);
    }
    .secondary-comp-palette{
      --ground: var(--color-secondary-comp-dark);
      --complementary: var(--color-primary);
    }

    .primary-palette.tint-light {
      --ground: var(--color-primary-dark);
      --complementary: var(--color-primary-light);
    }
    .secondary-palette.tint-light {
       --ground: var(--color-secondary-dark);
       --complementary: var(--color-primary-light);
    }
    .primary-comp-palette.tint-light{
      --ground: var(--color-primary-comp-dark);
      --complementary: var(--color-primary-light);
    }
    .secondary-comp-palette.tint-light{
      --ground: var(--color-secondary-comp-dark);
      --complementary: var(--color-primary-light);
    }

    .primary-palette.tint-sat {
      --ground: var(--color-primary-dark);
      --complementary: var(--color-primary-sat);
    }
    .secondary-palette.tint-sat{
      --ground: var(--color-secondary-dark);
      --complementary: var(--color-primary-sat);
    }
    .primary-comp-palette.tint-sat{
      --ground: var(--color-primary-comp-dark);
      --complementary: var(--color-primary-sat);
    }
    .secondary-comp-palette.tint-sat{
      --ground: var(--color-secondary-comp-dark);
      --complementary: var(--color-primary-sat);
    }

    .primary-palette.tint-dark {
      --ground: var(--color-primary-light);
      --complementary: var(--color-primary-dark);
    }
    .secondary-palette.tint-dark{
      --ground: var(--color-secondary-light);
      --complementary: var(--color-primary-dark);
    }
    .primary-comp-palette.tint-dark{
      --ground: var(--color-primary-comp-light);
      --complementary: var(--color-primary-dark);
    }
    .secondary-comp-palette.tint-dark{
      --ground: var(--color-secondary-comp-light);
      --complementary: var(--color-primary-dark);
    }
  
}
