/* Import Variables */
  @import url("https://github.com/jeremyplattux/jp-design-system/color-palette.css") screen;
  @import url("https://github.com/jeremyplattux/jp-design-system/typography.css") screen;

/* Enable Light & Dark Modes */
  :root {
    color-scheme: light dark;
  }

/* Default Base Level */
  html, body, header, main, footer, article, section, aside, div {
    margin: 0;
    padding: 0;
    
    font-family: var(--text-font);
    font-size: var(--text-size);
    font-weight: var(--text-weight);
    line-height: var(--text-lineheight);
    letter-spacing: var(--text-spacing);
    
    background: var(--palette-ground);
    background-image: -webkit-linear-gradient(var(--palette-underglaze));
    background-image: -moz-linear-gradient(var(--palette-underglaze));
    background-image: linear-gradient(var(--palette-underglaze));
    color: var(--palette-complementary);
  }

html, body {
    width: 100%;
    height: 100%;
} 

/* Default Images */
  figure {
    margin: 1em 0;
    line-height: 0;
  }
  img {
    border-style: none;
    height: auto;
    max-width: 100%;
  }

/* Default Forms */
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
    border: 1px solid;
    border-radius: 3px;
    padding: 3px;
}
.formSection :is(input[type="text"], input[type="email"], textarea) {
    width: 100% !important;
}
  button, input, optgroup, select, textarea {
    font-family: var(--input-font); 
    font-size: var(--input-size);
    font-weight: var(--input-weight);
    line-height: var(--input-lineheight);
    letter-spacing: var(--input-spacing);
    margin: 0; 
  }
  button, input {
    overflow: visible;
  }
  button, select { 
    text-transform: none;
  }
  button, [type="button"], [type="reset"], [type="submit"], .linkButton a{
    -webkit-appearance: button;
    border: 1px solid;
    border-radius: 3px;
    font-size: 0.75rem;
    line-height: 1;
    padding: .4em 1em .4em;
    float: right;
    width: auto;
    margin-bottom: 4em;
    text-transform: lowercase;
    border-color: var(--palette-complementary);
    color: var(--palette-complementary);
    background-color: var(--palette-accent);
    background-image: -webkit-linear-gradient(var(--palette-glaze));
    background-image: -moz-linear-gradient(var(--palette-glaze));
    background-image: linear-gradient(var(--palette-glaze));
    background-size: cover;
    background-repeat: no-repeat;
  }
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    border-color: var(--palette-accent);
    color: var(--palette-accent);
    background-color: var(--palette-complementary);
    background-image: -webkit-linear-gradient(var(--palette-underglaze));
    background-image: -moz-linear-gradient(var(--palette-underglaze));
    background-image: linear-gradient(var(--palette-underglaze));
}
  button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner{
    border-style: none;
    padding: 0;
  }
  button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 0.1em dotted ButtonText;
  }
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  legend {
    box-sizing: border-box; 
    color: inherit; 
    display: table; 
    max-width: 100%; 
    padding: 0;
    white-space: normal; 
  }
  progress {
    vertical-align: baseline;
  }
  textarea {
    overflow: auto;
  }
  [type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0; 
  }
  [type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  [type="search"] {
    -webkit-appearance: textfield; 
    outline-offset: -0.01em; 
  }
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit; 
  }

/* Default HTML Layout Elements */
  details {
    display: block;
  }
  summary {
    display: list-item;
  }
  template {
    display: none;
  }

/* Default HTML Attributes */
  .hideText, [hidden] {
    display: none;
  }

/* Default Classes */
  a.screen-reader-text {
    position: absolute !important;
    height: 0.01em;
    width: 0.01em;
    margin: -0.01em;
    border: 0;
    padding: 0;
    clip: rect(0.01em, 0.01em, 0.01em, 0.01em);
    clip-path: inset(50%);
    word-wrap: normal !important;
    overflow: hidden;
    --palette-base: var(--palette-accent);
}
.screen-reader-text:focus {
    border-radius: 0.1em;
    box-shadow: 0 0 0.1em 0.1em;
    clip: auto !important;
    clip-path: none;
    display: block;
    font-size: var(--small-size);
    font-weight: var(--link-weight);
    height: auto;
    left: 1em;
    padding: 1em 1.5em 1em;
    top: 5em;
    width: auto;
    filter: none;
    z-index: 100000;
}
a.screen-reader-text:before {
    position: absolute !important;
    display: block;
    height: 2em;
    left: 0em;
    padding: 1em 1.5em 1em;
    top: 0em;
    width: 10em;
    z-index: -1;
    content: ' ';
    --palette-ground: var(--palette-action);
    background-color: var(--palette-ground);
}


/* Mobile Ground */
.ground-base {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -5;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* Mobile Header & Menu  */
body > header {
      position: fixed;
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-top: 0em;
      height: auto;
      z-index: 100;
      top: 0;
  }
.site-title {
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    line-height: var(--title-lineheight);
  text-shadow: 0.03em 0.03px 0.02em var(--palette-shadow);
}
.site-title a { 
  --palette-accent: var(--palette-complementary);
  --palette-shadow: var(--palette-ground);
  --palette-base: none;
  filter: none;
}
.site-title:hover {
  --palette-shadow: var(--palette-accent);
}

#base_img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -5;
    margin: auto;
    opacity: 0.8;
}
#base_img figure {
    margin: 0;
}
#base_img figure img{
    max-width: none;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: 50% 50%;
    filter: url('#underglazer');
}
#logo {
    float: none;
    order: 1;
    flex-grow: 1;
    margin-right: -2em;
    display: inline-flex;
    padding: 0em;
    height: 100%;
    text-align: center;
    --palette-ground: none;
    --palette-underglaze: hsla(0,0,0,0);
}
#logo .site-title {
    display: inline;
    margin: 0em;
    width: 100%;
}
#logo figure {
    display: none;
    margin: 0em;
}
#logo figure img {
  display:none;
}
.mobile-open {
    position: absolute;
    height: 100vh;
    width: 15em;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    --palette-underglaze: hsla(0%,0%,0%,0);
}
#main-navigation {
    position: fixed;
    width: auto;
    height: 100vh;
    flex-grow: 0;
    order: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 1em;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 101;
}
#main-navigation a {
    height: 100%;
    width: calc(100% - 1.8em);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    display: inline-block;
    white-space: nowrap;
}
#main-navigation input {
    display: block;
    width: 2.8em;
    height: 2.8em;
    position: absolute;
    top: 0em;
    left: 0em;
    cursor: pointer;
    opacity: 0;
    z-index: 102;
}
#main-navigation input:checked ~ .mobile-open
{
	transform: none;
}
#main-navigation input:checked, #main-navigation input:checked ~ .menu-toggle {
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(12.5em, 0);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#main-navigation input:checked ~ .menu-toggle span:nth-child(1), #main-navigation input:checked ~ .menu-toggle span:nth-child(2){
	opacity: 1;
	transform: rotate(45deg) translate(0.15em, -0.15em);
	height: 0.15em;
}
#main-navigation input:checked ~ .menu-toggle span:nth-child(2){
	opacity: 0;
}
#main-navigation input:checked ~ .menu-toggle span:nth-child(3)
{
  transform: rotate(-45deg) translate(0.15em, -0.15em);
  height: 0.15em;
}
#main-navigation input:hover ~ .menu-toggle {
	background-image: -webkit-linear-gradient(var(--palette-gloss));
	background-image: -moz-linear-gradient(var(--palette-gloss));
	background-image: linear-gradient(var(--palette-gloss));
}
.menu-toggle {
    position: absolute;
    display: block;
    width: 2em;
    height: 2em;
    overflow: hidden;
    cursor: pointer;
    top: 0.2em;
    left: 0.2em;
    z-index: 101;
    -webkit-font-smoothing: antialiased;
    transform-origin: calc(50vw - 3em) 0%;
    transform: translate(0, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    border-radius: 0.25em;
    color: transparent;
    background-color: var(--palette-ground);
    background-image: -webkit-linear-gradient(var(--palette-underglaze));
    background-image: -moz-linear-gradient(var(--palette-underglaze));
    background-image: linear-gradient(var(--palette-underglaze));
    box-shadow: 0 0 0.2em var(--palette-surface), 0 0 0.25em var(--palette-accent);
}
.menu-toggle span {
    display: flex;
    width: 1.6em;
    height: 0.1em;
    min-height: 0.015em;
    margin-bottom: 0.3em;
    margin-left: 0.2em;
    position: absolute;
    border-radius: 0.05em;
    z-index: 102;
    transform-origin: 0.5em 0em;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    background-color: var(--palette-complementary);
}
  .menu-toggle span:nth-child(1) {
    transform-origin: 0% 0%;
    top: 0.4em;
}
  .menu-toggle span:nth-child(2) {
    transform-origin: 0% 100%;
    top: 0.9em;
}
  .menu-toggle span:nth-child(3) {
    top: 1.4em;
}
.mobile-open
{
	position: absolute;
	height: 100vh;
	width: 15em;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(-100%, 0);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
.nav-profile {
    display: block;
    padding-bottom: 0.5em;
    font-size: var(--small-size);
    background-color: var(--palette-ground);
    background-image: -webkit-linear-gradient(var(--palette-underglaze));
    background-image: -moz-linear-gradient(var(--palette-underglaze));
    background-image: linear-gradient(var(--palette-underglaze));
}
.nav-profile a{
  width: 9em !important;
}
.profile-contact {
    position: relative;
    top: 0.1em;
    left: 3em;
    width: 2.6em !important;
    background-clip: unset;
    clip-path: circle(50% at 50% 50%);
    padding: 4.5em 0em !important;
    font-size: 0.4em;
}
.profile-contact:hover {
    font-size: 0.4em;
    color: transparent !important;
    background-color: var(--palette-complementary);
    background-image: none;
    filter: none;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}
.profile-contact .fas {
    background-image: unset;
    position: absolute;
    left: 0.75em;
    top: 0.8em;
    font-size: 3.5em;
    -webkit-text-fill-color: var(--palette-complementary);
    text-shadow: 0.02em 0.02em 0.02em var(--palette-primary);
}
.profile-contact:hover .fas {
    color: var(--palette-accent);
    -webkit-text-fill-color: var(--palette-accent);
    text-shadow: unset;
}
a.profile-contact {
}

.nav-profile a h2 {
    margin: 0;
    margin-top: 1em;
    margin-right: 0em;
    font-size: var(--h3-size);
}
.nav-profile a h2, .nav-profile a small {
    background-color: var(--palette-ground);
    color: var(--palette-complementary);
    background-image: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--palette-complementary);
}
.nav-profile a:hover {
  filter: none;
  --palette-shadow: var(--palette-accent);
}
.nav-profile h2 {
    text-transform: none;
    text-align: left;
    padding-left: 0em;
    margin-left: 0em;
    padding-bottom: 0em;
    font-weight: 900;
}
.nav-profile a small {
    display: block;
    margin: 0;
    padding-left: 0em;
    margin-top: -0.25em;
}
menu {
    list-style: none;  
    padding: 0;
    margin: 0;
}
menu.social-links {
    margin-top: -1em;
    display: inline;
    float: right;
    font-size: 2em;
}
menu.social-links a svg {
    width: 1.2em !important;
    height: 1.2em !important;
    fill: currentColor;
}

#main-navigation menu {
    height: 100%;
}
#main-navigation li {
    display: block;
    padding: 0em;
    margin: 0em;
    width: 100%;
}
#main-navigation menu li:first-child {
  border-top: 0.01em solid var(--palette-complementary);
}

#main-navigation menu li {
    background-color: var(--palette-ground);
    border-bottom: 0.01em solid var(--palette-complementary);
}
#main-navigation menu li:hover {
    background-color: var(--palette-complementary);
}
#main-navigation menu li.current-menu-item {
    background-color: var(--palette-accent);
    background-image: linear-gradient(var(--palette-glaze));
}

menu :is(.fas, .far, .fab) {
    width: 2em;
}

/* Mobile Sections */
main {
    display: block;
    width: 100%;
    margin-top: 45vh;
    padding-top: 0;
}

main > article > header, main > section {
    padding: 0em 1em;
}

main > section, main > article > section, main > article > header {
    margin-bottom: 30vh;
}
main > section, main > article > section, body > footer { 
position: relative;
    display: inline-block;
    width: calc(100% - 2rem);
    height: auto;
    padding-top: 3rem;
    padding-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    webkit-clip-path: polygon(0 6vh, 100% 0, 100% calc(100% - 6vh), 0 100%);
    -moz-clip-path: polygon(0 6vh, 100% 0, 100% calc(100% - 6vh), 0 100%);
    clip-path: polygon(0 6vh, 100% 0, 100% calc(100% - 6vh), 0 100%);
    background-image: -webkit-linear-gradient(var(--palette-glaze));
    background-image: -moz-linear-gradient(var(--palette-glaze));
    background-image: linear-gradient(var(--palette-glaze));
    background-size: cover;
    background-repeat: no-repeat;
}
main > section:after, main > article > section:after {
    display: block;
    top: 0.2rem;
    left: 0;
    position: absolute;
    width: 100vw;
    height: calc(100% - 0.4rem);
    content: '';
    z-index: -2;
    webkit-clip-path: polygon(0 6vh, 100% 0, 100% calc(100% - 6vh), 0 100%);
    -moz-clip-path: polygon(0 6vh, 100% 0, 100% calc(100% - 6vh), 0 100%);
    clip-path: polygon(0 6vh, 100% 0, 100% calc(100% - 6vh), 0 100%);
    background-color: var(--palette-ground);
}

main > article > section > section {
    padding-left: -1rem;
    padding-right: -1rem;
}
main > article > section > figure {
    position: absolute;
    display: inline-block;
    top: 4em;
    left: 0;
    height: 40vh;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    -webkit-clip-path: polygon(0 6vh, 100% 0, 100% calc(100% - 6vh), 0 100%);
    -moz-clip-path: polygon(0 6vh, 100% 0, 100% calc(100% - 6vh), 0 100%);
    clip-path: polygon(0 6vh, 100% 0, 100% calc(100% - 6vh), 0 100%);
    z-index: 5;
}
main > article > section > figure > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: url('#underglazer');
}
main > article > section > figure + section > :is(h1,h2,h3,h4,h5,h6) {
    margin-top: calc(-40vh + 6em);
    margin-bottom: 40vh; 
}

main > article > section > section > section > :is(.fas,.fab) {
    float: right;
    padding: 0 0.1em;
    padding-top: 0.5em;
    
}
main > article > section > section > section > p {
  clear: both;
}

main > article > section > section > section > h3 {
  --h3-size: 1.3em;
  float: left;
  margin: 0;
  margin-bottom: 0.5em;
}
section figure, section[role="form"] {
    background-color: var(--palette-accent);
    background-image: -webkit-linear-gradient(var(--palette-glaze));
    background-image: -moz-linear-gradient(var(--palette-glaze));
    background-image: linear-gradient(var(--palette-glaze));
    background-size: cover;
    background-repeat: no-repeat;
}
main > article > section > section > section {
  display: inline-block;
}
:is(main > article > section > section > section) a:hover, a:hover img {
  filter: none;
}
main > article > section > section > section img {
    height: 30vh;
    width: 100%;
    object-fit: cover;
    object-position: 50% 0%;
    filter: url('#underglazer');
}
main > article > section > section {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

body > footer {
    position: relative;
    width: calc(100% - 2rem);
    height: auto;
    padding-top: 3em;
    padding-bottom: 2em;
}
body > footer nav {
    float: right;
    clear: right;
    text-align: right;
    margin-top: -0.5em;
}
.media-icons {
    font-size: 2em;
}

body > footer:after {
    background-color: var(--palette-ground);
    background-image: -webkit-linear-gradient(var(--palette-underglaze));
    background-image: -moz-linear-gradient(var(--palette-underglaze));
    background-image: linear-gradient(var(--palette-underglaze))
}

body > footer, body > footer::after {
    -webkit-clip-path: polygon(0 6vh, 100% 0, 100% 100%, 0 100%);
    -moz-clip-path: polygon(0 6vh, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 6vh, 100% 0, 100% 100%, 0 100%);
}
body > footer:after {
    display: block;
    top: 0.2em;
    left: 0;
    position: absolute;
    width: 100vw;
    height: calc(100% - 0.2em);
    content: '';
    z-index: -1;
}

.to-the-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.to-the-top-long {
    display: inline;
    flex-grow: 1;
}
.to-the-top-short {
    display: inline;
    text-align: right;
    flex-grow: 1;
}
section[role="form"] div {
    --palette-ground: transparent;
  }
  section[role="form"] :is(h1,h2,h3,h4,h5,h6) {
    --palette-accent: var(--palette-complementary);
  }
section[role="form"] {
    margin-top: 0em;
    margin-left: -2rem;
    padding-right: 1rem;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-bottom: -6em;
    padding-left: 2rem;
    height: auto;
      -webkit-clip-path: polygon(3vw 3vh, 100% 0, 100% calc(100% - 3vh), 0 100%);
      -moz-clip-path: polygon(3vw 3vh, 100% 0, 100% calc(100% - 3vh), 0 100%);
      clip-path: polygon(3vw 3vh, 100% 0, 100% calc(100% - 3vh), 0 100%);
  }
@media screen and (min-width: 37.5em) {
/*  Desktop Header & Menu  */
  body > header {
    justify-content: space-between;
  }
  body:hover > header {
		--text-size: 1em;
		opacity: 0.9;
    transition: 0.2s ease-in-out;
	}
	body > header:hover, .ground-base:hover + header {
		--text-size: 1.05em;
		opacity: 1;
		transition: 0.2s ease-in-out;
	}
  .site-title a {
    margin-left: 1rem;
    margin-bottom: 0.1em;
    white-space: nowrap;
  }
  #logo {
      order: 0;
      display: inline;
      text-align: left;
  }
  #logo .site-title {
    display: inline-flex;
    --title-size: var(--h2-size);
  }
  .mobile-open {
    position: relative;
    background-color: inherit;
    height: auto;
    width: auto;
    transform: none;
    transition: none;
    background-color: transparent;
    background-image: none;
  }
  #main-navigation {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    top: auto;
    left: auto;
    flex-grow: 5;
    text-align: right;
    height: 2em;
    clear: both;
    order: 1;
    padding-top: 0.2em;
}
  .menu-toggle, #main-navigation input {
    display: none;
  }
  .nav-profile {
    display: none;
  }
  #main-navigation menu {
    display: inline-flex;
    background-color: transparent;
  }
  #main-navigation menu li.menu-item-home {
    display: none;
  }
  #main-navigation {
    margin-right: 0em;
  }
  #main-navigation menu li, #main-navigation menu li:hover, #main-navigation menu li.current-menu-item {
    position: relative;
    background-image: none;
    background-color: transparent;
    border-bottom: none;
  }
  .current-menu-item a {
    color: var(--palette-accent);
    -webkit-text-fill-color: var(--palette-accent);
  }
  menu a {
    padding-top: 0.5em;
  }
  menu :is(.fas, .far, .fab) {
    display: none;
  }
   main > article > section > figure {
      top: -0.8em;
      left: 50%;
      height: calc( 100% - 1.2em );
      width: 50%;
      -webkit-clip-path: polygon(3vw 3vh, 100% 0, 100% calc(100% - 3vh), 0 100%);
      -moz-clip-path: polygon(3vw 3vh, 100% 0, 100% calc(100% - 3vh), 0 100%);
      clip-path: polygon(3vw 3vh, 100% 0, 100% calc(100% - 3vh), 0 100%);
  }
  
  .formSection {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  
  main > article > section > figure + section, .formSection section {
    width: calc(50vw - 3rem);
    display: inline-block;
    padding: 0 1rem;
  }
  section[role="form"] {
    margin-top: -3em;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-bottom: -6em;
    padding-left: 2em;
    float: right;
    height: auto;
      -webkit-clip-path: polygon(3vw 3vh, 100% 0, 100% calc(100% - 3vh), 0 100%);
      -moz-clip-path: polygon(3vw 3vh, 100% 0, 100% calc(100% - 3vh), 0 100%);
      clip-path: polygon(3vw 3vh, 100% 0, 100% calc(100% - 3vh), 0 100%);
  }
  main > article > section > figure + section > :is(h1,h2,h3,h4,h5,h6) {
        margin-top: 0em;
        margin-bottom: 0em; 
    }
}
@media only screen and (min-width: 600px) {
	main > article > section > section {
    grid-template-columns: 1fr 1fr;
  }
	main > article > section > section > section:nth-last-child(1):nth-child(odd)  {
    grid-column: span 2;
  }
}

@media only screen and (min-width: 850px) {
	main > article > section > section {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}
	main > article > section > section > section  {
		grid-column: span 2;
	}

	main > article > section > section > section:first-child:only-child, main > article > section > section > section:last-child:nth-child(3n+1)  {
		grid-column: span 6;
	}
	main > article > section > section > section:first-child:nth-last-child(3n+2) ~ main > article > section > section > section:nth-last-child(1),
	main > article > section > section > section:first-child:nth-last-child(3n+2) ~ main > article > section > section > section:nth-last-child(2) {
		grid-column: span 3;
	}

}
