/* Imports  */	

/* @import url("https://codepen.io/jeremyplatt/pen/wvePyqB.css") screen; -- replace with color palette css */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css') screen;
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Raleway:wght@100..900&display=swap');

:root {
	/* Typography Default Mobile / Tall Screen Varibles */
	--default: inherit; /* inherits whatever its 'parent' characteristics are */
	
	/* default text characteristics */
	--text-font: 'Atkinson Hyperlegible', 'Raleway', Helvetica, Arial, sans-serif;
	--text-size: calc(14px + 2vw); /* default text size is equal to 2% of the width of display window + 14px (sets minimum text size for accessibility and still maintains a responsive text size) */
	--text-weight: 400;
	--text-spacing: 0.035em; /* spacing between characters is 35% of CURRENT text size (ideal for dyslexia) */
	--text-lineheight: 1.5em; /* vertical spacing for text height is 1.5x CURRENT(em) text size (ideal for dyslexia)*/ 
	
	/* default Header text characteristics */
		--header-font: 'Raleway', Helvetica, Arial, sans-serif;
		--header-size: 1.2em; /* default header = default text size x 1.2 or %20 bigger for readibility */
		--header-weight: 700;
		--header-lineheight: 1.2em;
		--header-spacing: 0.04em;
	
		--h1-font: var(--header-font);
		--h1-size: 2em;
		--h1-weight: 300;
		--h1-lineheight: var(--header-lineheight);
   		--h1-spacing: var(--header-spacing);
	
		--h2-font: var(--header-font);
		--h2-size: 1.67em;
		--h2-weight: var(--header-weight);
		--h2-lineheight: var(--header-lineheight);
    --h2-spacing: 0.05em;
	
		--h3-font: var(--header-font);
		--h3-size: 1.5em;
		--h3-weight: 300;
		--h3-lineheight: var(--header-lineheight);
    --h3-spacing: var(--header-spacing);
	
		--h4-font: var(--header-font);
		--h4-size: 1.3em;
		--h4-weight: var(--header-weight);
		--h4-lineheight: var(--header-lineheight);
    --h4-spacing: 0.05em;
	
		--h5-font: var(--header-font);
		--h5-size: 1.3em;
		--h5-weight: 300;
		--h5-lineheight: var(--header-lineheight);
    --h5-spacing: var(--header-spacing);
	
		--h6-font: var(--header-font);
		--h6-size: var(--header-size);
		--h6-weight: var(--header-weight);
		--h6-lineheight: var(--header-lineheight);
    --h6-spacing: 0.05em;
	
	/* default layout text characteristics */
		--logo-font: var(--h2-font);
		--logo-size: var(--h2-size);
		--logo-weight: var(--h2-weight);
		--logo-lineheight: 1.5em;
    --logo-spacing: var(--h2-spacing);

		--title-font: var(--h2-font);
		--title-size: var(--h1-size);
    --title-weight: var(--h2-weight);
		--title-lineheight: var(--h2-lineheight);
    --title-spacing: var(--h2-spacing);

		--hero-font: var(--header-font);
		--hero-size: var(--h2-size);
    --hero-weight: 900;
		--hero-lineheight: var(--header-lineheight);
    --hero-spacing: 0.05em;
	
		--footer-font: var(--text-font);
		--footer-size: calc(14px + 0.1vw);
		--footer-lineheight: var(--text-lineheight);

		--social-font: var(--default);
		--social-size: var(--default);
    --social-weight: var(--default);
		--social-lineheight: var(--default);
	
	/* default characteristics */
	
		--link-font: var(--header-font);
		--link-size: var(--default);
		--link-weight: 900;
	
		--linkhover-font: var(--link-font);
		--linkhover-size: var(--link-size);
		--linkhover-weight: var(--link-weight);	
	
		--linkactive-font: var(--link-font);
		--linkactive-size: var(--link-size);
		--linkactive-weight: var(--link-weight);	
	
		--italic-font: var(--header-font); 
    --italic-style: normal; /* avoid underline & slant to keep readibility */
		--italic-size: var(--default);
		--italic-weight: calc(var(--text-weight) - 100);
    --italic-spacing: 0.05em;
	
		--underline-font: var(--default); 
    --underline-style: normal; /* avoid underline & slant to keep readibility */
		--underline-size: var(--default);
		--underline-weight: var(--default);
	
		--bold-font: var(--default);
		--bold-size: var(--default);
		--bold-weight: 900;
   	--bold-spacing: 0.06em;
	
		--big-font: var(--default); /* avoid all uppercase to keep readibility */
		--big-size: 1.25em;
		--big-weight: var(--default);
	
		--small-font: var(--default); /* avoid all small capitalization to keep readibility */
		--small-size: 0.75em;
		--small-weight: var(--default);
	
		--quote-font: var(--default);
		--quote-size: var(--big-size);
		--quote-weight: var(--default);

		--code-font: var(--default);
		--code-size: var(--small-size);
		--code-weight: var(--default);

		--list-font: var(--default);
		--list-size: var(--default);
		--list-weight: var(--default);
	
		--input-font: var(--default);
		--input-size: var(--default);
		--input-weight: 900;
		--input-lineheight: var(--default);
    --input-spacing: 0.05em;
}

/* Typography Default DESKTOP / Wide Display Varible Changes */
  @media screen and (min-width: 37.5rem) {
	/* Default Text Characteristics */
    :root{ 
	    --text-size: calc(14px + 1vw); /* default DESKTOP text size is equal to 0.5% of the width of display window + 14px */  }
  }



/* Typography Ranges */
#typography-ranges {
  display: relative;
  font-family: var(--text-font);
  font-size: var(--text-size);
  font-weight: var(--text-weight);
  line-height: var(--text-lineheight);
  letter-spacing: var(--text-spacing);
  background: var(--palette-ground);
  color: var(--palette-complementary);
  padding-top:5em;
}
#typography-ranges #darkcheck{
    position: fixed;
    top: 20px;
    right: 20px;
    appearance: none;
    -webkit-appearance : none;
    -moz-appearance : none;
    -o-appearance : none;
    width: 40px;
    height: 22px;
    background: var(--palette-complementary);
    border-radius: 11px;
    cursor: pointer;
    outline: none;
    z-index: 5;
}
#darklabel {
  position: fixed;
  margin: 0;
  padding: 0;
  margin-top: -5.5em;
  text-align: right;
  padding-top: 3em;
  background: var(--palette-ground);
  z-index: 1;
  padding-right: 1.5em;
  width: calc(100% - 1.5em);
}
/* styling the circle inside the checkbox input */
#typography-ranges #darkcheck::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color:white;
    border-radius: 10px;
    top: 1px;
    left: 1px;
    cursor: pointer;
    transition: .3s linear;
    z-index: 5;
}
/* Switching to the dark when the checkbox is toggled */
#darkcheck:checked + label + div + header + main + aside + footer, #darkcheck:checked + label + div + header, #darkcheck:checked + label + div + header + main, #darkcheck:checked + label + div, #darkcheck:checked + label {
  --palette-ground: var(--color-secondary-comp-dark);
  --palette-complementary: var(--color-primary-light);
  --palette-accent: var(--color-primary-comp);
  --palette-shadow: var(--color-primary-light);
  color: var(--palette-complementary);
}
#darkcheck + label + div {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  z-index: -5;
}
#darkcheck:checked + label + div, #darkcheck:checked + label {
   --palette-ground: var(--color-secondary-comp-dark);
  background: var(--palette-ground);
}
/* moving the checkbox circle when it's toggled by the user */
#typography-ranges #darkcheck:checked::before{
    left: 20px;
    background: var(--palette-complementary);
}
/* changing the color of the checkbox when it's toggled */
#typography-ranges #darkcheck:checked{
    --palette-ground: var(--color-primary-light);
  background: var(--palette-ground);
}

:is(#typography-ranges) header, main, footer {
  margin:0;
  padding 0;
}
#palette-ranges li {
  text-align: center;
}
#palette-ranges li:before{ 
  content:'';
}

/* Default Typography */
  abbr[title] {
    border-bottom: none;
    text-decoration: underline; 
    text-decoration: underline dotted; 
  }
  b, strong {
    font-family: var(--bold-font);
    font-size: var(--bold-size);
    font-weight: var(--bold-weight);
    line-height: var(--bold-lineheight);
    letter-spacing: var(--bold-spacing);
  }
  i, em {
    font-style: normal;
    font-family: var(--italic-font);
    font-size: var(--italic-size);
    font-weight: var(--italic-weight);
    line-height: var(--italic-lineheight);
    letter-spacing: var(--italic-spacing);
  }
  small {
    font-family: var(--small-font);
    font-size: var(--small-size);
    font-weight: var(--small-weight);
    line-height: var(--small-lineheight);
    letter-spacing: var(--small-spacing);
  }
  sub, sup {
    font-family: var(--small-font);
    font-size: var(--small-size);
    font-weight: var(--small-weight);
    letter-spacing: var(--small-spacing);
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }

/* Default Links */
  a {
      text-decoration: none;
      font-family: var(--link-font);
      font-size: var(--link-size);
      font-weight: var(--link-weight);
      line-height: var(--link-lineheight);
      letter-spacing: var(--link-spacing);
      color: var(--palette-accent);
    
      background-color: var(--palette-base); /* ie fix */
      background-image: -webkit-linear-gradient(var(--palette-glaze));
      background-image: -moz-linear-gradient(var(--palette-glaze));
      background-image: linear-gradient(var(--palette-glaze));
      -webkit-background-clip: text;
      -webkit-text-fill-color: var(--palette-base);
/*     filter: saturate(1.5) brightness(125%); */
  }
  a:hover, a:focus {
      --palette-base: none;
      font-family: var(--linkhover-font);
      font-size: var(--linkhover-size);
      font-weight: var(--linkhover-weight);
      line-height: var(--linkhover-lineheight);
      letter-spacing: var(--linkhover-spacing);
      color: var(--palette-accent);
      filter:brightness(70%) saturate(3);
      background-image: -webkit-linear-gradient(var(--palette-gloss));
      background-image: -moz-linear-gradient(var(--palette-gloss));
      background-image: linear-gradient(var(--palette-gloss));
  }
a:active, .current-menu-item a {
      --palette-base: none;
      font-family: var(--linkactive-font);
      font-size: var(--linkactive-size);
      font-weight: var(--linkactive-weight);
      line-height: var(--linkactive-lineheight);
      letter-spacing: var(--linkactive-spacing);
      color: var(--palette-complementary);
    text-shadow: 0.03em 0px 0.02em var(--palette-shadow);
  filter: none;
  }
h1, h2, h3, h4, h5, h6 {
      font-family: var(--header-font);
      font-size: var(--header-size);
      font-weight: var(--header-weight);
      line-height: var(--header-lineheight);
      letter-spacing: var(--header-spacing);
      margin: 1rem 0;
      color: var(--palette-accent);
  text-shadow: 0em 0px 0.02em var(--palette-shadow);
}
h1 {
      font-family: var(--h1-font);
      font-size: var(--h1-size);
      font-weight: var(--h1-weight);
      line-height: var(--h1-lineheight);
      letter-spacing: var(--h1-spacing);
}
h2 {
      font-family: var(--h2-font);
      font-size: var(--h2-size);
      font-weight: var(--h2-weight);
      line-height: var(--h2-lineheight);
      letter-spacing: var(--h2-spacing);
}
h3 {
      font-family: var(--h3-font);
      font-size: var(--h3-size);
      font-weight: var(--h3-weight);
      line-height: var(--h3-lineheight);
      letter-spacing: var(--h3-spacing);
}
h4 {
      font-family: var(--h4-font);
      font-size: var(--h4-size);
      font-weight: var(--h4-weight);
      line-height: var(--h4-lineheight);
      letter-spacing: var(--h4-spacing);
}
h5 {
      font-family: var(--h5-font);
      font-size: var(--h5-size);
      font-weight: var(--h5-weight);
      line-height: var(--h5-lineheight);
      letter-spacing: var(--h5-spacing);
}
h6 {
      font-family: var(--h6-font);
      font-size: var(--h6-size);
      font-weight: var(--h6-weight);
      line-height: var(--h6-lineheight);
      letter-spacing: var(--h6-spacing);
}

body > main > article > header h1 {
  font-family: var(--hero-font);
      font-size: var(--hero-size);
      font-weight: var(--hero-weight);
      line-height: var(--hero-lineheight);
      letter-spacing: var(--hero-spacing);
  
  --palette-ground: var(--palette-action);
  color: var(--pallete-complementary);
    background-image: none;
    -webkit-text-fill-color: var(--pallete-complementary);
    text-shadow: 0 0 3px var(--palette-ground);

}

